<div class="icon-bar large-vertical four-up">
   <%= link_to(personal_settings_path, class: "item", remote: true) do %>
      <i class="fi-torso"></i>
      <label>Personal</label>
   <% end %>
   <%= link_to(social_settings_path, class: "item", remote: true) do %>
       <i class="fi-social-500px"></i>       
      <label>Social</label>
   <% end %>
   <%= link_to(profile_settings_path, class: "item") do %>
       <i class="fi-social-500px"></i>       
      <label>Profile</label>
   <% end %>
   
   
</div>
