<table>
  <thead>
    <tr>
      <th>Product</th>
      <th></th>
    </tr>
  </thead>
   <tbody>
      <% @products["sales_products"].each do |prod| %>
         <tr>
            <td><%= prod["name"]%></td>
            <% if @kiwi.has_product(product: prod) %>
               <td>Already Purchased</td>
            <% else %>
               <td><%= link_to "Buy", buy_products_path(prod_origination_url: prod["_links"]["product_originations"]["href"]), class: "button", method: :put%></td>
            <% end %>
         </tr>
      <% end %>     
   </tbody>
</table>

<%= link_to 'Reset', reset_products_path, method: :put, class: "button"%>


